.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
}