.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header_left {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.header_right {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.options {
    width: 150px;
    height: 2px;
}

.profile-dropdown {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(1, 1fr);
    position: fixed;
    margin-top: 185px;
    height: 105px;
    width: 120px;
    background-color: #f9cbff;
    box-shadow: 0px 1px 8px #dddddd;
    border-radius: 10px;
    border: 1px solid #dddddd;
    z-index: 2;
    right: 2%;
    padding-top: 15px;
    padding-bottom: 10px;

}

.profileButtons {
    background-color: transparent;
    color: black;
    border-radius: 5px;
    border: transparent;
    padding: 2px;
    margin: 2px;
    height: auto;
    cursor: pointer;
}

.profile-button {
    background-color: transparent;
    color: #f8c5d5;
    border-radius: 5px;
    padding: 2px;
    padding-right: 2px;
    margin: 5%;
    margin-right: 15px;
    height: auto;
    cursor: pointer;
}

.logo {
    height: 40px;
}

#splash_nav_right {
    cursor: pointer;
}