.post_image_input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cursor_pointer {
    cursor: pointer;
}

#error {
    margin-top: 10%;
    color: yellowgreen;

}

#post_image_background {
    background-position: top;
    height: 100vh;
    width: 100%;
    background-image: url('..//BackgroundImage/Background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}