/* TODO Add site wide styles */

* {
    margin: 0px;
    max-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: white; */


}

.root {
    border: 2px solid white;
}