.errorHandling {
    color: red;
}

.leave_comment {
    border-radius: 8px transparent;
    cursor: pointer;
}

.post_comment_wrapper {
    background-color: #f9cbff;
    border-radius: 12px;
    height: 110%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
}

#post {
    cursor: pointer;
}