.tagspage-test-container {
    width: 100%;
    height: 100%;
    /* background-color: #f3f5f6; */
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 26.72px;
}

.tagspage-testing {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.tagspage-inner-test {
    display: flex;
}

.tagspage-tag {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.tagspage-tag:hover {
    color: #0091dc;
    cursor: pointer;
    text-decoration: underline;
}

.tagspage-caret {
    margin-left: 12px;
    margin-right: 12px;
}

.tagspage-tagname {
    font-size: 16px;
    font-weight: 600;
}

.tagsearch-outer-container {
    padding-top: 100px;
    height: 100%;
    min-height: 100vh;
    color: white;
    /* background-color: #f3f5f6; */
}

.tagsearch-container {
    /* background: white; */
    display: flex;
    justify-content: center;
    padding-bottom: 10em;
    /* padding-top: 36px; */
    padding-top: 10px;
    /* background-color: #f3f5f6; */
}

.tagsearch-inner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
}

.tagsearch-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 5px;
    /* width: 1200px; */
    width: 100%;
    /* max-width: 1440px; */
    box-sizing: content-box;
    width: 100%;
}

.tagsearch-images-container>* {
    /* flex: 1 1 auto; */
    flex-grow: 1;
    /* flex-shrink: 1; */
    /* flex-basis: auto; */
}

.tagsearch-noresults {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}