.editcomment_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
}

.edit_button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

#edit {
    cursor: pointer;
}



#textarea {
    width: 400px;
    height: 150px;
    resize: none;
}