.home_all_images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    justify-content: flex-start;
    padding-top: 135px;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 12%;
    height: 60%;
    width: 100%;
    gap: 0;
}

.home_all_images>* {
    flex-grow: 1;
}

.home_all_images::-webkit-scrollbar {
    display: none;
}

.home_make_long {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 0;

}

.home_image {
    width: 100%;
    min-width: 200px;
    height: 295px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    gap: 0;
    flex-grow: 1;
}

.home_image>* {
    flex-grow: 1
}

.home_image_title {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    display: none;
    padding-left: 5px;
    animation-name: slide;
    animation-duration: 1s;
    left: 0px;
}

#test {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}

.home_image:hover+.home_image_title {
    display: block;
    box-sizing: initial;
}

#image_title {
    position: relative
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    ;

    100% {
        opacity: 1;
    }

    ;
}

#home_background {
    background-color: black;
}

.splash_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    height: calc(100vh - 62px);
}

.splash_inside_wrapper {
    max-height: 400px;
    width: 600px;
    margin-top: 350px;
    display: flex;
    text-align: center;
    flex-direction: column;
    z-index: 11;
}


#text_white1 {
    color: white;
    font-size: xxx-large;
    font-weight: bold;
    margin: 15px;
}

#text_white2 {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin: 15px;
}


#splash_background {
    background-position: top;
    height: 100vh;
    width: 100%;
    background-image: url('..//BackgroundImage/BackgroundSplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#start_free {
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    border: none;
    border-bottom: 3px solid gray;
}

#start_free:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#start_free:hover {
    background-position: 0;
}

#start_free:hover::before {
    width: 100%;
}

.nav_link {
    text-decoration: none;
    color: white
}

.home_post_image {
    color: black;
    background-color: black;
    cursor: pointer;
}

.home_post {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    margin-top: 25%;
    margin-bottom: 42%;
}

#home_post_image {
    cursor: pointer;
    font-size: larger;
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    border: none;
    margin-right: 2%;
    border-bottom: 3px solid;
}

#home_post_image:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#home_post_image:hover {
    background-position: 0;
}

#home_post_image:hover::before {
    width: 100%;
}

.explore-page-wrapper {

    display: flex;
    justify-content: center;
    gap: 0;

}

.explore-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    gap: 0
}

.explore-images {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 100%;
    gap: 0 5px;
}

.explore-images> {
    flex-grow: 1
}

#page_title {
    margin-top: 80px;
    color: white;
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1;
}