.home_all_images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    justify-content: flex-start;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 12%;
    height: 60%;
    width: 100%;
    /* overflow-y: scroll;
    justify-content: space-evenly;
    margin-left: 10%; */
    gap: 0;
}

.home_all_images>* {
    flex-grow: 1;
}

.home_all_images::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.home_make_long {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 0;

}

/* .home_image_wrapper {
    height: fit-content;
    margin: 1%;
    display: flex;
} */

.home_image {
    width: 100%;
    min-width: 200px;
    height: 295px;

    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    gap: 0;

    /* border: solid 1px rgb(236, 76, 76); */
    flex-grow: 1;
    /* position: absolute;
    color: white;
    left: 8px;
    bottom: 10px;
    height: 30px; */


}

.home_image>* {
    flex-grow: 1
}

.images {
    /* position: absolute;
    left: 8px;
    bottom: 10px;
    width: 100%;
    height: 30px; */
    /* display: none; */
    /* 
    animation-name: slide;
    animation-duration: 1s; */
}

.home_image_title {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    display: none;
    padding-left: 5px;
    animation-name: slide;
    animation-duration: 1s;
    left: 0px;
    /* border: 3px solid yellow; */

    /* position: absolute;
    left: 8px;
    bottom: 10px;
    width: 100%;
    height: 30px;
    display: none;

    animation-name: slide;
    animation-duration: 1s; */
}

#test {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}

.home_image:hover+.home_image_title {
    display: block;
    box-sizing: initial;
    /* position: fixed; */
}

#image_title {
    /* border: 2px solid yellow; */
    position: relative
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    ;

    100% {
        opacity: 1;
    }

    ;
}


#home_background {
    /* background-position: top;
    height: 100%;
    width: 100%;
    background-image: url('..//BackgroundImage/BackgroundHome.jpg');
    background-repeat: no-repeat;
    background-size: 100%; */
    background-color: black;
}


.splash_wrapper {
    /* padding-top: 8%; */
    /* padding-bottom: 15%; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    height: calc(100vh - 62px);
}

.splash_inside_wrapper {
    max-height: 400px;
    width: 600px;
    /* border: 2px solid yellow; */
    margin-top: 350px;
    /* padding-top: 350px; */
    /* padding-bottom: 600px; */
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    /* justify-content: center; */
    /* justify-items: center; */
    text-align: center;
    flex-direction: column;
    z-index: 11;
}


#text_white {
    color: white;
    /* height: 10px; */
    font-size: large;
    font-weight: bold;
    /* max-height: 40px; */
    margin: 15px;
}

#splash_background {
    background-position: top;
    height: 100vh;
    width: 100%;
    background-image: url('..//BackgroundImage/BackgroundSplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#start_free {
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    border: none;
}

#start_free:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#start_free:hover {
    background-position: 0;
}

#start_free:hover::before {
    width: 100%;
}

/* #start_free:hover {
    color: white;
    background-color: red;
} */


.nav_link {
    text-decoration: none;
    color: white
}

.home_post_image {
    color: black;
    background-color: black;
    cursor: pointer;
}

.home_post {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* padding-bottom: 5px; */
    /* border-bottom: 1px solid gray; */
    width: fit-content;
    margin-top: 25%;
    margin-bottom: 42%;
}

#home_post_image {
    cursor: pointer;
    font-size: larger;
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    border: none;
    margin-right: 2%;
}

#home_post_image:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#home_post_image:hover {
    background-position: 0;
}

#home_post_image:hover::before {
    width: 100%;
}




.explore-page-wrapper {

    display: flex;
    justify-content: center;
    gap: 0;

}

.explore-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    gap: 0
}

.explore-images {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    box-sizing: content-box;
    width: 100%;
    gap: 0 5px;
    /* flex-grow: 1 */
}

.explore-images> {
    flex-grow: 1
}


#page_title {
    margin-top: 5%;
    color: white;
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1;
}