.home_all_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 5% 10% 5% 10%;
}

.home_image_wrapper {
    width: 100%;
    height: 65%;
}

.home_image {
    width: 100%;
    height: fit-content;
}

.home_image_title {
    display: flex;
    justify-content: center;
}