.single_image_wrapper {
    justify-items: center;
    margin: 0% 10% 5% 10%;
    min-width: 900px;
}

.single_image {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    height: fit-content;
    max-height: 1000px;
    padding-right: 20px;
}

.single_image_header {
    display: flex;
    justify-content: space-between;
    min-width: 900px;
    margin-top: 2px;
}

.single_image_edit_delete {
    display: flex;
    align-items: center;
}

.single_image_page {
    background-color: aqua;
    height: 100vh;
}

.comments_position {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
}

.deleteButton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.post_comment_button {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 20%;
    cursor: pointer;
}

.comments_details {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}