.edit_image_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    border-radius: 12px;
    padding-bottom: 25px;
    padding-top: 20px;
    color: white;
}

#edit_image_wrapper {
    background-position: top;
    height: 100%;
    width: 100%;
    background-image: url('..//BackgroundImage/Background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.edit_button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

#textarea {
    width: 400px;
    height: 150px;
    resize: none;
}

#title_input {
    width: 400px;
}

#image_input {
    border: 1px solid black;
    cursor: pointer;
}

#cursor_pointer {
    cursor: pointer;
}

.error {
    color: yellowgreen;
}