.edit_image_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    background-color: gray;
    border-radius: 10px;
}

.edit_button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}